<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252556961056-bge1mv0r7bhd3otlaf9j2h6o39qfnvog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252556961056-bge1mv0r7bhd3otlaf9j2h6o39qfnvog</string>
	<key>API_KEY</key>
	<string>AIzaSyB8a4iXTFfBiAh3UezQEzgu06baERAR9YY</string>
	<key>GCM_SENDER_ID</key>
	<string>252556961056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asaz.gasjm</string>
	<key>PROJECT_ID</key>
	<string>gasjm-01</string>
	<key>STORAGE_BUCKET</key>
	<string>gasjm-01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252556961056:ios:bd81b95a85b46434f0e345</string>
</dict>
</plist>